.port-navbar.port-nav-base {
    position: absolute;
    width: 100%;
    z-index: 15;
    padding: 40px;

    .port-navbar {
        &-brand {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }

        &-item {
            margin-left: 10px;
            margin-right: 10px;

            @media (max-width: 835px) {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        &-link {
            color: white;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            cursor: pointer;

            @media (max-width: 835px) {
                font-size: 16px;
            }

            &.active {
                color: #dba919;
            }

            &:hover, &:focus {
                color: #dba919;
            }
        }
    }

    .port-dropdown-menu {
    
        .port-dropdown-item {
            color: #4e4e4e;

            &.active {
                color: #dba919;
            }
        }
        
        .port-dropdown-toggle {
            color: white;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.port-navbar.port-nav-base.port-nav-default{
    background-color: $secondary !important;
    padding: 30px;
}

.bg-transparent.menu-open{
    background-color: #2c3e50 !important;
    transition: .5s;
}

.bg-transparent.menu-close{
    transition: .5s;
}